@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login h1 {
    font-size: 50px;
}

.login h3 {
    font-size: 25px;
}

.login img {
    height: auto;
    width: 300px;
}

.login-bg {
    display: flex;
    background: #F5F5F5;
    border-radius: 30px;
    min-height: 85vh;
    max-height: 85vh;
    justify-content: center;
    align-content: center;
}

.addUser-bg {
  padding-top: 30px;
  display: flex;
  border-radius: 30px;
  min-height: 85vh;
  max-height: 85vh;
  justify-content: center;
  align-content: right;
}

.editRows {
  border-style: solid;
}

.dateLabel {
  padding-right:1%;
}

.editJobButtons {
  padding-top:5%;
  padding-left:2%;
}

.editCityName {
  padding-left:1%;
}

.saveNewLocation {
  width:200px;
  background-color:#ff7b86;
  border-color: #ff7b86;
}

.saveNewLocation:hover {
  background-color:#ff6774;
  border-color: #ff6774;
}

.saveNewLocation:focus {
  background-color:#ff7b86;
  border-color:#ff7b86;
  box-shadow:none !important;
}

.saveNewLocation:active {
  background: #ff5362 !important;
  border-color:#ff5362;
  box-shadow:none !important;
}

.addLocation {
  width:200px;
  background-color:#c000e7;
  border-color:#c000e7;
}

.addLocation:disabled {
  background-color:#bbbbbb;
  border-color:##bbbbbb;
}

.addLocation:hover {
  background-color:#ab00cd;
  border-color:#ab00cd;
}

.addLocation:focus {
  background-color:#c000e7;
  border-color:#c000e7;
  box-shadow:none !important;
}

.addLocation:active {
  background: #9600b4 !important;
  border-color:#9600b4;
  box-shadow:none !important;
}

.editJob {
  width:200px;
  background-color:#3399ff;
  border-color:#3399ff;
}

.editJob:hover {
  background-color:#0068d0;
  border-color:#0068d0;
}

.editJob:focus {
  background-color:#3399ff;
  border-color:#3399ff;
  box-shadow:none !important;

}

.editJob:active {
  background: #0054a9 !important;
  border-color:#0054a9;
  box-shadow:none !important;
}

.updateDatabase {
  width:200px;
  background-color:#00b75c;
  border-color:#00b75c;
}

.updateDatabase:disabled,
.updateDatabase:disabled:hover,
.updateDatabase:disabled:active,
.updateDatabase:disabled:hover:active {
  background-color:#bbbbbb;
  border-color:#bbbbbb;
}

.addLocation:disabled,
.addLocation:disabled:hover,
.addLocation:disabled:active,
.addLocation:disabled:hover:active {
  background-color:#bbbbbb;
  border-color:#bbbbbb;
}

.updateDatabase:hover {
  background-color:#009249;
  border-color:#009249;
}

.updateDatabase:focus {
  background-color:#00b75c;
  border-color:#00b75c;
  box-shadow:none !important;
}

.updateDatabase:active {
  background: #006633 !important;
  border-color:#006633;
  box-shadow:none !important;
}

.deleteJob {
  width:200px;
  background-color:#ff3333;
  border-color:#ff3333;
}

.deleteJob:hover {
   background-color: #d00000;
   border-color:#d00000;
}

.deleteJob:focus {
  background-color:#ff3333;
  border-color:#ff3333;
  box-shadow:none !important;
}

.deleteJob:active {
  background: #a90000 !important;
  border-color:#a90000;
  box-shadow:none !important;
}

.editPage {
  display:flex;
  flex-direction:row;
}

.editText {
  padding-left: 1%;
  position: relative;
  font-weight: bold;
}

.editValue {
  display: flex;
  align-items: center;
  justify-content: center;

}

.editjob-bg {
  padding-top: 5%;
}

.login-content {
    font-family: 'Lato', sans-serif;
    position: relative;
    width: 550px;
    text-align: center;
    padding-top: 20%;
    height: 80vh;
}


.login-content span {
    text-align: center;
    position: absolute;
    bottom: 0;
}

.login a {
    color: #394867;
}

.login-form {
    padding-top: 15%;
    text-align: left;
}

.login-form label {
    margin-left: 2.5%;
}

/* Navbar */

.navbar {
    background-color: #14274e;
    font-family: 'Lato', sans-serif;
}
